#root {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.Browser {
  overflow: auto;
  height: 100%;
  padding: 0 32px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.03em;
  margin: 48px 0 8px;
  padding: 0 32px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 24px;
}

table td {
  padding: 8px 12px;
  font-size: 14px;
}

thead td {
  position: sticky;
  top: 0;
  background-color: #fff;
}

thead td {
  font-weight: 700;
  color: rgba(0,0,0,0.35);
}

tbody td {
  font-weight: 400;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover,
tbody tr.active {
  background-color: rgba(0,0,0,0.08);
}
