@import './fonts.css';
@import './tokens.css';

html {
  font-size: 16px;
}

body {
  margin: 0;
  position: relative;
  color: var(--c-ink);
  background: var(--c-paper);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
